.heroSection {
  @apply bg-primary overflow-hidden relative;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
  &:after {
    @apply absolute top-0 w-full h-full left-0 block z-0;
    content: "";
    background: linear-gradient(
      342deg,
      rgba(131, 58, 180, 0) 0%,
      rgba(0, 150, 199, 0.25) 72%,
      rgba(252, 176, 69, 0) 100%
    );
  }
  .heroContainer {
    @apply container relative z-10 mx-auto px-8;
  }
  .heroHeading {
    @apply relative py-20 z-10;
    padding-top: calc(var(--navbar-topmost-height) + 10rem);

    .title {
      @apply text-5xl text-center font-bold text-white mb-2 filter drop-shadow-lg;
    }
    .subtitle {
      @apply text-6xl text-center font-bold text-indigo filter drop-shadow-lg;
    }
  }
}
.preview {
  @apply absolute top-1/2 left-1/2 grid grid-cols-2 gap-4 transform;
  width: 800px;
  img {
    @apply h-auto rounded-lg filter drop-shadow-lg;
  }
  .item1 {
    @apply ml-auto transform -translate-y-0 w-60;
  }
  .item2 {
    @apply transform -translate-y-8;
  }
  
  .item3 {
    @apply w-full;
  }

  .item {
    &:after {
      @apply absolute top-0 w-full h-full left-0 block z-0;
      content: "";
      background: linear-gradient(
        180deg,
        rgba(36, 59, 85, 0) 0%,
        rgba(36, 59, 85, 0) 40%,
        rgba(36, 59, 85, 1) 100%
      );
    }
  }
}
