:root {
    --input-height: 44px;
    --input-small-height: 36px;
    
    --navbar-topest-height: 120px;
    --navbar-height: 60px;

    --sidebar-width: 250px;
    --sidebar-mini-width: 60px;
    
    --primary: #0096c7;
    --primary-dark: #212529;

    --black: #03071e;
    --white: #FFFFFF;
}