.navbar {
    height: var(--navbar-height);
    z-index: 1200;
    @apply left-0 w-full flex bg-background-600 shadow-lg;
    @apply transition-all duration-200;

    .toolbar {
        height: var(--navbar-height);
        @apply px-0 pt-0;
    }

    .logo {
        @apply flex items-center space-x-2 text-2xl text-on-background filter drop-shadow-lg;
        @apply transition-all duration-300;

        .postfix {
            @apply px-1 border-4 rounded-lg font-bold border-on-background filter drop-shadow-lg;
        }
    }

    &.isTop {
        height: var(--navbar-topmost-height);
        @apply bg-transparent shadow-none;

        .toolbar {
            height: var(--navbar-topmost-height);
        }

        .logo {
            @apply text-4xl;
            
            .postfix {
                @apply border-4;
            }
        }

        &.isHeroSection {
            .logo {
                @apply text-white;
        
                .postfix {
                    @apply border-white;
                }
            }
        }
    }
}

.leftSection {
    @apply w-1/3;
}
.rightSection {
    @apply w-1/3 flex items-center justify-end;
}
.centerSection {
    @apply w-1/3 flex items-center justify-center;
}

.appContainer {
    @apply container mx-auto px-8;
}
