<form class="app-login" [formGroup]="form" (submit)="onSubmit()">
  <div class="form-container">
    <form-input placeholder="abc@gmail.com" [required]="true" formControlName="username" type="text" name="username"
      [required]="true" [touched]="form.touched" icon="person_outline">
    </form-input>
    <form-input placeholder="Password" [required]="true" formControlName="password" type="password" name="password"
      [required]="true" [touched]="form.touched" icon="lock_open">
    </form-input>
  </div>
  <div class="additional-container">
    <a class="link" href="/forgot-password">Forgot Password?</a>
    <a class="link" href="/register">Create Account</a>
  </div>
  <app-button-loading type="submit" text="Sign In"></app-button-loading>
</form>