.appLogo {
  @apply mb-8;

  .logoImg {
    @apply mx-auto h-20 w-auto mb-2 opacity-75;
    mix-blend-mode: difference;
  }

  .title {
    @apply text-center text-xl font-extrabold text-on-background;
  }
}

.page {
  @apply h-full min-h-screen relative flex items-center justify-center p-0 bg-background py-0;

  @screen md {
    @apply py-20;
  }

  .bgUpper {
    @apply absolute top-0 left-0 w-full h-full z-20 bg-cover bg-center;
    mix-blend-mode: multiply;
    background-image: url(/assets/images/signin/bg.png);
  }

  .bgBelow {
    @apply absolute top-0 left-0 w-full h-full z-10 bg-cover bg-center;
    mix-blend-mode: multiply;
    background-image: url(/assets/images/signin/bg1.svg);
  }

  .bgColorOverlay {
    @apply absolute top-0 left-0 w-full h-full bg-background opacity-25 z-30;
  }

  .pageBody {
    @apply max-w-full w-full space-y-8 relative z-40 flex items-center;
  
    @screen md {
      @apply max-w-md;
    }
  }
}

.card {
  @apply shadow bg-surface py-20 px-6 z-40 rounded w-full h-full flex flex-col items-center justify-center min-h-screen;

  @screen md {
    @apply h-auto min-h-0;
  }

  .cardInner {
    @apply w-full max-w-xs;
  }
}

.pageTitle {
  @apply text-center mb-4;

  .title {
    @apply text-gray-600;
  }
  .subtitle {
    @apply font-bold text-gray-700;
  }
}

.socialSigninContainer {
  & > * {
    @apply mb-2;
  }
  & > *:last-child {
    @apply mb-0;
  }
}

.form {
  @apply mb-10
}

.errorAlert {
  @apply mb-2;
}