@font-face {
    font-family: 'Roboto Light';
    src: url('/assets/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('/assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Prompt Medium';
    src: url('/assets/fonts/Prompt-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Prompt Regular';
    src: url('/assets/fonts/Prompt-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik Regular';
    src: url('/assets/fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik Medium';
    src: url('/assets/fonts/Rubik-Medium.ttf') format('truetype');
}